{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
  {{with .Snippet}}
  <div class='snippet'>
    <div class='metadata'>
      <strong>{{.Title}}</strong>
      <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
      <div>
        <time>Created: {{.Created}}</time>
      </div>
      <div>
        Weekday: {{.Created.Weekday}}
      </div>
      <div>Test: {{.Created.AddDate 0 6 0}}</div>
      <div>
        <time>Expires: {{.Expires}}</time>
      </div>
    </div>
  </div>
  {{end}}
{{end}}